<% include ../partials/header %>

  <h1><%= city.name %></h1>
  <p><%= city.description %></p>

  <% posts.forEach(function(post) { %>
  <p><%= post.title %></p>
  <p><%= post.body %></p>
  <% }) %>

<% include ../partials/footer %>
