* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  margin: 0px;
}

/*
* -- NAVBAR STYLES  --
*/

.black-background li a:hover, .black-background li a:focus {
  background: none;
  border: none;
  color: #AECFE5;
  border-bottom: 1px double;
  border-bottom-width: medium;
}

.black-background {
  opacity: 0.6;
  background: black;
}

.nav-background {
  position: fixed;
  width: 100%;
}

.nav {
  list-style: none;
}

.nav a {
  text-decoration: none;
  padding: 0 1em;
  color: white;
}

.flex-item {
  flex: 1;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

/*
* -- TEXT STYLES  --
*/

h1, a, .splash-text {
  font-family: 'Lato', sans-serif;
  color: white;
}

h1 {
  font-size: 60px;
  padding-top: 5px;
}

h2 {
  font-family: 'Lato', sans-serif;
  margin-top: 100px;
}

h4, p, label {
  font-family: 'Lato', sans-serif;
}

.post-title {
  /* display: inline; */
  text-decoration: none;
  color: black;
}

a {
  font-size: 20px;
}

/*
* -- FORM STYLES  --
*/

.form-link {
  color: black;
  text-decoration: none;
  font-size: 17px;
}

.form-title {
  color: black;
  margin-top: 100px;
}

.form-row {
  padding: 6px;
}

.form-text {
  text-align: center;
}

.sign-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
}

.form-row label {
  padding-right: 10px;
}

.form-row input, .form-row label {
  flex: 1;
  margin-bottom: 10px;
}

/*
* -- SPLASH STYLES  --
*/

.center-image {
  background: url('images/big-sur.jpg') center;
  background-size: cover;
  height: 100vh;
}

.splash-title {
  font-size: 60px;
  font-weight: bold;
  color: white;
  border: 3px solid white;
  padding: 0.2em 0.7em;
  font-weight: 100;
  border-radius: 2px;
  line-height: 1em;
}

.splash-text {
  font-size: 20px;
  align-self: flex-start;
  padding-left: 65px;
  padding-bottom: 35px;
  font-style: oblique;
}

.splash-logo {
  margin-left: 500px;
  max-width: 450px;
  max-height: 450px;
}

.main-container {
  display: flex;
  align-items: center;
}

.city-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 100px 50px;
}

.cities-title {
  font-size: 30px;
  border-bottom: 1px double;
  border-bottom-width: medium;
}

.city-links a:hover {
  color: #AECFE5;
  font-size: 22px;
}

.city-links a:before, .city-links a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

.city-links a:hover:before {
  opacity: 1.0;
}

.city-links a, .city-links a:before {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.city-text {
  text-decoration: none;
  color: black;
}

/*
* -- CITY PAGE STYLES  --
*/

.city-name {
  font-size: 65px;
  padding-top: 230px;
  flex: 4;
}

.city-description {
  -webkit-text-stroke: 0.5px black;
  text-shadow:
    -1px 0 #000000,
    0 1px #000000,
    1px 0 #000000,
    0 -1px #000000;
  font-size: 24px;
  padding: 0px 150px 30px;
  line-height: 2em;
  text-align: center;
  color: white;
}

.city-page-container {
  display: flex;
  /* flex-direction: column; */
  /* text-align: center; */
}

.city-page-container button {
  flex: 1;
}

.flex-container {
  display: flex;
  flex: 1;
  /* padding: 5px; */
  align-items: baseline;
}

.flex-center {
  justify-content: center;
}

.item-center {
  align-items: center;
}

.full-height {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-image {
  background: center;
  background-size: cover;
  height: 100vh;
}

/*
* -- PROFILE PAGE STYLES  --
*/

.profile-wrapper {
  display: flex;
  text-align: left;
  height: 100%;
  margin-top: 70px;
}

@media all and (min-width: 1000px) {
  .profile-aside {
    padding: 15px;
  }
  .post-container {
    flex: 1;
  }
}

/*
* -- POST PAGE STYLES  --
*/

.post-page-container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.post-container {
  display: flex;
  /* height: 300px; */
  flex-direction: column;
}

.post-flex-container {
  display: flex;
  flex: 1;
  height: 200px;
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 50px;
  text-align: left;
  height: 100%;
}

/* Footer */

.footer {
  font-family: 'Lato', sans-serif;
  padding-top: 15px;
  height: 50px;
  text-align: center;
  color: white;
  font-weight: lighter;
}
