<% include ../partials/header %>

<h1>Sign up</h1>
<form action="/sign-up" method="POST">
  Name:<br>
  <input type="text" name="name" placeholder="Name" required/><br>
  Primary city:<br>
  <input type="text" name="primary_city" placeholder="Primary city" required/><br>
  Email:<br>
  <input type="text" name="email" placeholder="Email" required/><br>
  Password:<br>
  <input type="password" name="password" placeholder="Password" required/><br>
  <input type="submit" value="Submit">
</form>

<div style="color: red">
  <% error %>
</div>

<% include ../partials/footer %>