<% include ../partials/header %>

<div class="sign-container">
  <h2>Sign in</h2>
  <form class="pure-form" action="/sign-in" method="POST">
    <fieldset>
      <div class="pure-form form-row">
        <label for="email">Email:</label>
        <input id="email" type="email" placeholder="Enter email" name="email" required/>
      </div>

      <div class="pure-form form-row">
        <label for="password">Password:</label>
        <input id="password" type="password" placeholder="Enter password" name="password" required/>
      </div>

      <div class="pure-form form-row">
        <input class="profile-btn" type="submit" value="Submit">
      </div>
      <p class="form-text">Not a user? <a class="form-link" href="/sign-up">Sign up!</a></p>
    </fieldset>
  </form>
</div>

<% include ../partials/footer %>