<% include ./partials/header %>
<div class="splash-container">
  <div class="flex-container flex-center item-center full-height center-image">
    <div class="flex-container flex-center item-center full-height">
      <h1 class="splash-title">Travelist</h1>
    </div>
    <p class="splash-text">Join the community and share your travels</p>
  </div>

  <h2 class="cities-title">Cities</h2>

  <div class="main-container">
    <div class="cards-container">

      <% cities.forEach(function(city) { %>
      <a href="/cities/<%= city.id %>" class="city-card card">
        <div style="background-image: url(<%= city.city_image_url %>)" class="card">
          <h3><%= city.name %></h3>
        </div>
      </a>
      <% }) %>

    </div>

  </div>
  <img class="splash-logo" src="images/splash-logo.png">
</div>
<% include ./partials/footer %>