  <div class="footer-background">
    <footer class="footer black-background">© 2018 · Travelist · All Rights Reserved</footer>
  </div>
</body>
<script type="text/javascript" src="/script.js"></script>

</html>
