<% include ../partials/header %>

<div class="sign-container">
  <h2>Edit post</h2>
  <form action="/posts/<%= post.id %>?_method=PUT" method="POST">
    <label for="title">Title:</label><br>
    <textarea name="title" rows="1" cols="80"><%= post.title %></textarea><br>
    <label for="body">Body:</label><br>
    <textarea name="body" rows="8" cols="80"><%= post.body %></textarea><br>
    <button type="submit">Submit</button>
  </form>
</div>

<% include ../partials/footer %>