<% include ../partials/header %>

<div class="sign-container">
  <h2>New post</h2>
  <form action="/posts/<%= city.id %>/new" method="POST">
    <input type="hidden" name="city_id" value="<%= city.id %>">
    <input type="hidden" name="user_id" value="<%= user.id %>">
    <label for="title">Title:</label><br>
    <textarea name="title" rows="1" cols="80"></textarea><br>
    <label for="body">Body:</label><br>
    <textarea name="body" rows="8" cols="80"></textarea><br>
    <button class="profile-btn" type="submit">Submit Post</button>
  </form>
</div>

<% include ../partials/footer %>