<% include ../partials/header %>

<div class="sign-container">
  <h2>Edit profile</h2>
  <form action="/users/<%= user.id %>?_method=PUT" method="POST">
    <div class="form-row">
      <label for="name">Name:</label>
      <input type="text" name="name" value="<%= user.name %>" required/>
    </div>
    <div class="form-row">
      <label for="primary_city">Primary city:</label>
      <input type="text" name="primary_city" value="<%= user.primary_city %>" required/>
    </div>
    <div class="form-row">
      <label for="user_image_url">Profile image URL:</label>
      <input type="text" name="user_image_url" value="<%= user.user_image_url %>" required/>
    </div>
    <div class="form-row">
      <input class="profile-btn" type="submit" value="Submit">
    </div>
  </form>
</div>

<% include ../partials/footer %>